[submodule "frontend"]
    path = frontend
    url = https://github.com/Ondrecho/BankWise
    branch = main

[submodule "backend"]
    path = backend
    url = https://github.com/Ondrecho/OnlineBanking
    branch = main
